.home-container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

//-------------- RESPONSIVE -------------- //

@media (max-width: 1024px) {
    .home-container {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 600px) {
    .home-container {
        grid-template-columns: 1fr;
    }
}